// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _layout.scss
// *
// *****************************************************************************

body,
html {
  width: 100%;
  height: 100%;
  // Something in WP breaks overflow, so this hack fixes it for now.
  overflow-y: scroll;
}

.is-main {
  width: 100%;
  height: 100%;
}
